<div class="bg-dark border right p3" id="sidebar">
    <h3 class="text-light">GifsApp</h3>
    <hr class="text-white">
    <div class="list-group list-reset">
        <button (click)="searchTag(tag)" 
         *ngFor="let tag of tags" class="list-group-item list-group-item-action"> {{tag | titlecase}}</button>
    </div>
    <iframe width="100%" height="400" src="https://time.graphics/embed?v=1&id=66971bef12a4240ec7ff63910b5cb3c0" frameborder="0" allowfullscreen></iframe>
<div><a  style="font-size: 12px; text-decoration: none;" title="Create your gantt chart online" href="https://time.graphics">Create your gantt chart online</a></div>
</div>
         
